{% extends 'user/layout_user.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="user.css">
{% endblock %}

{% block body %}
    {{ parent() }}
   <p> Hello je suis le user </p>
{% endblock %}



